# Ignore all __pycache__ directories
__pycache__/

# Ignore other common temporary files and directories
*.log
*.tmp
.DS_Store
Thumbs.db
.gradio

# Ignore Python-specific files
*.pyc
*.pyo
.python-version

# Ignore IDE-specific files
.vscode/
.idea/


#ignore the dataset or midi files
*.json
*.midi
*.mid

#ignore test files
test.py
listening.py
bacasable.py

#ignore notebooks
/notebook

#ignore uvconfig
uv.lock
pyproject.toml